<div>
  <a href="/listings"><button>Back to Listings</button></a>
</div>

<div>
  <h1>Create and post a listing:</h1>
</div>

<div>
  <% if @listing && @listing.errors.any? %>
  <div>
    <strong>Oops! Something bad happened!</strong>
    <ul>
      <% @listing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

</div>

<div class="create-form-container">

  <form method="post" action="/listings">
    <div class="form-group">
    <input placeholder="STREET ADDRESS:" type="text" name="street_address" class="form-control" value="<%= @listing && @listing.street_address %>">
    </div>
    <div class="form-group">
      <input placeholder="MONTHLY RENT:" type="text" name="price" class="form-control" value="<%= @listing && @listing.price %>">
    </div>
    <div class="form-group">
      <input placeholder="SQUARE FEET:" type="text" name="area" class="form-control" value="<%= @listing && @listing.area %>">
    </div>
    <div class="form-group">
      <input placeholder="NO. OF BEDROOMS" type="text" name="bedrooms" class="form-control" value="<%= @listing && @listing.bedrooms %>">
    </div>
    <div class="form-group">
      <input placeholder="NO. OF BATHROOMS" type="text" name="bathrooms" class="form-control" value="<%= @listing && @listing.bathrooms %>">
    </div>
    <div>
      <input class="btn btn-warning" type="submit" name="submit">
    </div>
  </form>

</div>

