<div id="overlay" style="opacity:0.5;"></div>

<div class="container-fluid">

  <% unless @listing.images.empty? %>

  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <% @listing.images.each do |image| %>
            <div class="item active">
              <img src="/uploads/<%= image.image_identifier %>">
            </div>
          <% end %>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>

  <% end %>

    <div class="col-md-2"></div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>  
    <div class="col-md-10">
      <h1>Address: <%= @listing.street_address %></h1>
      <ul class="listing-details">
        <li>$<%= @listing.price %> monthly</li>
        <li><%= @listing.area %> square feet</li>
        <li><%= @listing.bedrooms %> bedrooms</li>
        <li><%= @listing.bathrooms %> bathrooms</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>  
    <div class="col-md-10">
      <h2> Posting made by: <%= @listing.user.first_name %></h2>
      <ul class="contact-details">
        <li>Full name: <%= @listing.user.first_name %> <%= @listing.user.last_name %> </li>
        <li>Username: <%= @listing.user.username %></li>
        <li>Email: <%= @listing.user.email %></li>
        <li>Phone Number: <%= @listing.user.phone %> </li>

        <a style="color:black;" href="/listings/map"><h3> Click here to go back to the map! </h3></a>
      </ul>
    </div>
  </div>
</div>
