<div class="container">
<div class="row">
<div class="col-md-12">

<div class="create-form-container">
  <div>
    <% if @listing && @listing.errors.any? %>
      <div>
        <ul>
          <% @listing.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>

  <h1>Edit a listing:</h1>
  <form method="post" action="">
    <div class="inputs">
      <div class="form-group">
        <input placeholder="Street address:" type="text" name="street_address" class="form-control" value="<%= @listing && @listing.street_address %>">
      </div>
      <div class="form-group">
        <input placeholder="Monthly rent:" type="text" name="price" class="form-control" value="<%= @listing && @listing.price %>">
      </div>
      <div class="form-group">
        <input placeholder="Square feet:" type="text" name="area" class="form-control" value="<%= @listing && @listing.area %>">
      </div>
      <div class="form-group">
        <input placeholder="No. of bedrooms" type="text" name="bedrooms" class="form-control" value="<%= @listing && @listing.bedrooms %>">
      </div>
      <div class="form-group">
        <input placeholder="No. of bathrooms" type="text" name="bathrooms" class="form-control" value="<%= @listing && @listing.bathrooms %>">
      </div>
    </div>
    <div class="footer">
      <input class="btn btn-warning" type="submit" name="submit">
    </div>
  </form>
</div>

</div>
</div>
</div>