<!-- <div id="overlay" style="opacity: 0.5;"></div>
 -->
<div id="contents" class="text-center">  
  <h1 id="heading">Lighthouse Listings <br/><small>Rentals in the Greater Vancouver area</small></h1>

  <div id="maindv">
    <div id="map" style="min-width: 850px; min-height: 600px;"></div>
  </div>

<a id="simple-menu" href="#sidr">Toggle menu</a>

<div id="sidr">
  <!-- Your content -->
  <h1>Search preferences:</h1>

  <div>
    <form id="map_form">
    
      <div>
        <label>Maximum Budget:</label>
        <input type="text" id="price" name="price" value="<%= @listing && @listing.price %>">
      </div>
      <div>
        <label>Minimum Square Footage:</label>
        <input type="text" name="area" value="<%= @listing && @listing.area %>">
      </div>
      <div>
        <label>Minimum Bedrooms?</label>
        <input type="text" name="bedrooms" value="<%= @listing && @listing.bedrooms %>">
      </div>
      <div>
        <label>Minimum Bathrooms?</label>
        <input type="text" name="bathrooms" value="<%= @listing && @listing.bathrooms %>">
      </div>
      <div>
        <input type="submit" name="submit">
        <a href="#" id="map_form">search</a>
      </div>
    </form>

  </div>
</div>

</div>


<script>  
$(document).ready(function() {
   
$('#simple-menu').sidr({
      side: 'right'
    });

    $("#map").googleMap({
        coords: [49.2827, -123.1207],
        zoom: 12
});

  <% @listings.each do |listing| %>
    $("#map").addMarker({
      coords: [
        <%= listing.latitude %>, 
        <%= listing.longitude %>],
      title: "Rental!",
      text: '<p>Price: <%= listing.price %></p> <p>Area: <%= listing.area %></p>'
    });
  <% end %>

  });
</script>

</div>