<div id="overlay" style="opacity: 0.5;"></div>

<div id="contents" class="text-center"> 

  <div class="row">

  <% if @user && @user.errors %>
    <div class="style-error-box">
      <% @user.errors.full_messages.each do |message| %>
          <div class = "row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <div class="alert alert-danger">
                <%= message %>
              </div>
            </div>
            <div class="col-md-4"></div>
        </div>
      <% end %>
    </div>
  <% end %>

  </div>
  <div id="divform">
        <h1 class="h1"> Signup </h1>
        <br />
        <form method="post" action="/user" class="form-horizontal">
        <div class="form-group">
            <input class="form-control input-lg" type="text" value="<%= @user&&@user.first_name %>" placeholder="First name" name="first_name">
          </div>
          <div class="form-group">
            <input class="form-control input-lg" type="text" value="<%= @user&&@user.last_name %>" placeholder="Last name" name="last_name">
          </div>
          <div class="form-group">
            <input class="form-control input-lg" type="text" id="username" value="<%= @user&&@user.username %>" placeholder="Username" name="username">
          </div>
          <div class="form-group">  
            <input class="form-control input-lg" type="password" id="password" value="<%= @user&&@user.password %>" placeholder="Password" name="password">
          </div>
          <div class="form-group">
            <input class="form-control input-lg" type="text" id="email" value="<%= @user&&@user.email %>" placeholder="Email" name="email">
          </div>
          <div class="form-group">
            <input class="form-control input-lg" type="text" value="<%= @user&&@user.phone %>" placeholder="Phone number (XXX-XXX-XXXX)" name="phone">
          </div>
          <div class="footer text-center">
            <button class="btn btn-warning" type="submit">Submit</button>
            <br>
            <br>
            <a class="layout return" style="color:white" href="/">Actually, I don't want to sign up.</a>
          </div>
        </form>
      
    </div>
    
  </div>